body {
  font-family: 'mplus-1p-light';
  text-align : justify;
  text-justify : inter-word;
  margin : 0;
}

h1,h2,h3,h4,h5 {
  font-weight : normal;
  font-family : 'mplus-1p-regular';
}

h1 {
  font-size : 180%;
  counter-reset : thesection;
  border-left : 6px solid black;
  padding-left : 24px;
}

@media print {
  h1 {
    page-break-before : always;
    &:first-of-type {
      page-break-before : auto;
    }
  }
}

@media screen {
  h1 {
    margin-top : 128px;
    &:first-of-type {
      margin-top : 0;
    }
  }
}

h2 {
  font-size : 150%;
  margin-top : 32px;
  margin-bottom : 8px;
  counter-increment : thesection;
  counter-reset : thesubsection;
  &:before {
    content : counter(thesection)'. ';
  }
}
.nonumber {
  counter-increment : none;
  &:before {
    content : none;
  }
}

h3 {
  font-size : 120%;
  margin-top : 12px;
  margin-bottom : 4px;
  counter-increment : thesubsection;
  &:before {
    content : counter(thesection)'-'counter(thesubsection)'. ';
  }
}

p {
  text-indent : 2ex;
  margin : 0px auto;
}

.noindent {
  text-indent : 0;
}

.example-list {
  border : 1px solid black;
  border-radius : 8px;
  padding : 0px 16px;
  margin : 8px 0;
}

p.caption {
  text-align : center;
  counter-increment : figcounter;
  margin-bottom : 32px;
  &:before {
    content : 'Fig. 'counter(figcounter)'. ';
  }
}

img {
  max-width : 80%;
  display : block;
  margin : 32px auto 8px;
  box-shadow : 0 0 8px 4px lightgray;
}

.caution-title {
  background-image : image-url('caution.svg');
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-position: 0 center; 
  border : none;
  padding-left : 64px;
  height : 48px;
  line-height : 48px;
  vertical-align : middle;
}

dl {
  width : 100%;
  margin : 0 auto;
  dt {
    margin : 0;
    width : 50%;
    padding-right : 16px;
    text-align : right;
    font-family : 'mplus-1p-regular';
    float : left;
    clear: left;
  }
  dd {
    width : 50%;
    margin-left: 20em;
    padding-left : 16px;
  }
}

pre {
  margin : 32px;
}

/* Cover */
.cover-title {
  border : none;
  text-align : center;
  font-size : 32px;
}
.to {
  text-indent : 0;
}
.from {
  text-align : right;
  text-indent : 0;
}
.date {
  margin-top : 16px;
  text-align : right;
  text-indent : 0;
}
.notice {
  border : 1px dashed gray;
  text-indent : 0;
  padding : 8px;
  border-radius : 8px;
  margin : 256px 0 128px;
}

.index {
  .container {
    display : none;
  }
}
