@media print {
  .navbar {
    display : none;
  }
}

@media screen {
  html {
    background-color : lightgray;
  }
  .container {
    padding : 32px;
    background-color : white;
    width : 920px;
    margin : 0 auto;
    box-shadow : 0 0 12px gray;
  }
}
