@font-face {
  font-family: 'mplus-1p-thin';
  src: url(/fonts/mplus-1p-thin.ttf);
}
@font-face {
  font-family: 'mplus-1p-light';
  src: url(/fonts/mplus-1p-light.ttf);
}
@font-face {
  font-family: 'mplus-1p-regular';
  src: url(/fonts/mplus-1p-regular.ttf);
}
@font-face {
  font-family: 'mplus-1p-medium';
  src: url(/fonts/mplus-1p-medium.ttf);
}
@font-face {
  font-family: 'mplus-1p-bold';
  src: url(/fonts/mplus-1p-bold.ttf);
}
@font-face {
  font-family: 'mplus-1p-heavy';
  src: url(/fonts/mplus-1p-heavy.ttf);
}
@font-face {
  font-family: 'mplus-1p-black';
  src: url(/fonts/mplus-1p-black.ttf);
}
@font-face {
  font-family: 'mplus-1p';
  src: url(/fonts/mplus-1p-light.ttf);
  font-weight:normal;
}
@font-face {
  font-family: 'mplus-1p';
  src: url(/fonts/mplus-1p-bold.ttf);
  font-weight:bold;
}

