.navbar {
  width : 920px;
  margin : 0 auto;
  padding : 32px;
  box-shadow : 0 0 12px gray;
  background-color : white;
  margin-bottom : 16px;

  li {
    background-color : #333;
    text-align : center;
    width : 25%;
    box-sizing : border-box;
    display : inline-block;
    border-left : 2px solid white;
    border-right : 2px solid white;
    a {
      padding : 16px;
      color : white;
      font-weight : bold;
      display : block;
      text-decoration : none;
    }
  }
  .link_to_top {
    background-color : #833
  }
}
