.schedule-table {
  margin : 8px auto;
  border-spacing: 0;
  tr {
    td {
      border-top : 1px solid black;
      border-left : 1px solid black;
      padding : 8px 16px;
      width : 300px;
      &:last-of-type {
        border-right: 1px solid black;
      }
      p.month {
        text-indent : 0;
        margin : 0;
        padding : 0;
        font-family : 'mplus-1p-regular';
      }
      ul {
        margin : 0;
        padding : 0;
        li {
          width : 40%;
          display : inline-block;
        }
      }
    }
    &:last-of-type {
      td {
        border-bottom: 1px solid black;
      }
    }
  }
}

h1 {
  font-size : 125%;
}

h2 {
  font-size : 100%;
}
p {
  line-height : 130%;
}

.from {
  margin-bottom : 16px;
}
.date {
  float : right;
  margin : 0;
}
