h1 学生宿舎ネットワーク運営委員会新委員募集のお知らせ
p

  | 学生宿舎ネットワーク運営委員会では新運営委員を募集していま
  | す.専門知識の有無については問いません.ネットワーク運用に興
  | 味がある方,裏方で学生宿舎全体を支えたいという方の参加をお待
  | ちしております. 

p
  | また,学生宿舎ネットワーク運営委員会は学生ボランティアで運
  | 営されています.運営委員がいないと,学生宿舎ネットワークその
  | ものが使えなくなります.このような事態を防ぐためにも,新入居
  | 者のみなさまの積極的な参加をお願いします.

h2 主な活動内容 :
ul
  li ネットワーク機器の整備・運用 
  li 利用者トラブルへの対応 
  li ガイダンス開催など,利用マナー向上への取り組み

p
  | 興味のある方は,ミーティングにぜひ参加してください.  
 
h3 4 月のミーティング日時: 
ul
  li 4 月 14 日(水) 18 時 30 分   (場所未定)  
  li 参加希望の方は,下記の連絡先までメールで連絡ください. 
  li 折り返し,ミーティング場所のご連絡をいたします. 

h2 連絡先: 
ul
  li 学生宿舎ネットワーク運営委員会 
  li メールアドレス: dormnet-staff@itc.naist.jp 
                    
