ul.navbar
  li = link_to "利用ガイド(ja)", 'guidebook_ja.html'
  li = link_to "User's guide(en)", 'guidebook_en.html'
  li = link_to 'Guidane schedule', 'schedule.html'
  li.link_to_top = link_to 'トップに戻る', '/'
