header
  p.date Apr 10, 2017
  h1 学生宿舎ネットワーク利用ガイダンスのスケジュール<br>
     Dormitory Network Committee - Guidance Schedule
  p.to 学生宿舎入居者の皆様へ<br>
       To all new residents
  p.from 学生宿舎ネットワーク運営委員会<br>
         Dormitory Network Committee

p
  | 新入居者のみなさんが学生宿舎ネットワークをご利用いただくためには、
  | ネットワーク利用ガイダンスを受講していただき、必要な手続きを行っていただく必要があります。
  | ガイダンスは、以下の日程で実施する予定です。
  | 各回とも18:30から30分程度です．

p
  | New residents in student dormitory are required to attend the guidance in
    order to use the Internet.  The guidances are scheduled as the following.
    The guidance starts at 18:30, and it will held for 30 minutes.

table.schedule-table collpadding='0'
  tr
    td
      p.month 4月 / April
      ul
        li 14 (Fri.)
        li 24 (Mon.)
    td
      p.month 5月 / May
      ul
        li 15 (Mon.)
        li 29 (Mon.)
  tr
    td
      p.month 6月 / June
      ul
        li 12 (Mon.)
        li 26 (Mon.)
    td
      p.month 7月 / July
      ul
        li 18 (Tue.)
        li 31 (Mon.)
  tr
    td
      p.month 8月 / August
      ul
        li 14 (Mon.)
        li 28 (Mon.)
    td
      p.month 9月 / September
      ul
        li 11 (Mon.)
        li 29 (Fri.)
  tr
    td
      p.month 10月 / October
      ul
        li 13 (Fri.)
        li 23 (Mon.)
    td
      p.month 11月 / November
      ul
        li 13  (Mon.)
        li 27 (Mon.)
  tr
    td
      p.month 12月 / December
      ul
        li 4 (Mon.)
        li 18 (Mon.)
    td
      p.month 1月 / January
      ul
        li 15 (Mon.)
  tr
    td
      p.month 2月 / February
      ul
        li 13 (Tue.)
    td
      p.month 3月 / March
      ul
        li 12 (Mon.)


h3.nonumber 参加方法 / How to attend the Guidance

p
  | ガイダンスは予約制です。
  | 事前に入居者のお名前、居室番号、曼陀羅アカウント名、電子メールアドレス、
  | を明記の上、学生宿舎ネットワーク運営委員会（dormnet-staff@itc.naist.jp）
  | までお申し込みください。
  | 折り返し、会場についてご連絡いたします。
  | （なお、これらの情報及び手続きに得た情報は学生宿舎ネットワークの利用者登録
  | およびトラブル発生時の基本データとして利用させていただきます）

p
  | You need a reservation for the guidance. Send an email to the dormitory
    network committee (dormnet-staff@itc.naist.jp) in advance. After that you
    will receive information on the place where guidance will take place.
    Please send the information as follows: your name, room number, MANDARA
    ID, and e-mail address. (We will use the information for your subscription
    on the network and in case of problems.)

= stylesheet_link_tag 'schedule'
